        <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img id="imgNavSel" src="/images/uk.gif" alt="..." class="img-thumbnail icon-small">&nbsp;&nbsp;<span id="lanNavSel">English</span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a id="navDut" href="/online-nl/" class="language"><img id="imgNavDut" src="/images/nl.gif" alt="..." class="img-thumbnail icon-small">&nbsp;&nbsp;<span id="lanNavFra">Nederlands</span></a></li>
                <li><a id="navEng" href="/online/" class="language"><img id="imgNavEng" src="/images/uk.gif" alt="..." class="img-thumbnail icon-small">&nbsp;&nbsp;<span id="lanNavEng">English</span></a></li>
              </ul>
            </li>
          </ul>
        </div> <!--/.navbar-collapse -->

