{{ define "main" }}

{{ range sort (where .Site.RegularPages "Section" "contentblocks") "Weight"   }}

<a name="{{ .Params.menu_title}}"></a>
<div class="content-section-a {% cycle 'bg-grey', 'bg-white' %}" >

	<div class="container">
		<div class="row">

			{{ if eq .Params.img "none" }}

			<div class="col-lg-10 col-sm-12 wide-center">
				<h2 class="section-heading">
					<hr class="section-heading-spacer-wide">
					{{ .Title }}
				</h2>
				<div class="lead">{{ .Content }}</div>
			</div>

			{{ else if eq .Params.img_location "left" }}
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">

				<h2 class="section-heading">
					<hr class="section-heading-spacer">
					{{ .Title }}
				</h2>

				<div class="lead">{{ .Content }}</div>
			</div>
			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<img class="img-responsive" src="img/{{.Params.img}}" alt="">
			</div>

			{{ else }}
			<div class="col-lg-5 col-sm-6">
				<h2 class="section-heading">
					<hr class="section-heading-spacer">
					{{ .Title }}
				</h2>

				<div class="lead">    {{ .Content }} </div>
			</div>
			<div class="col-lg-5 col-lg-offset-2 col-sm-6">
				<img class="img-responsive" src="img/{{ .Params.img}}" alt="">
			</div>
			{{ end }}

		</div>

	</div>


</div>

{{ end }}

{{ end }}
