body {
  xbackground: #d6d6d6 !important;
}

.navbar-toggle .icon-bar{
  background-color:#ba0012;
}

.icon-small{
  height: 18px !important;
margin: 0;
padding: 0;
border-radius:0;
padding:0;
}

.nav .img-thumbnail{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 2px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.navbar {
  margin-bottom:-140px;
}

#appwindow {
  position: relative;
  width: 750px;
  height: 752px;
  background-image: url(../images/pdfletterheadbg750.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.copyright {
  opacity: .5;
  font-size: 14px;
  text-align:center;

}

#download_buttons {
  padding-left:200px;
}

#coverswitch{
  position: absolute;
  top: 76px;
  left: 115px;
  height: 24px;
  width: 116px;
}

#proupgrade{
  position: absolute;
  top: 623px;
  left: 51px;
  height: 29px;
  width: 187px;
}

#background {
  position: absolute;
  top: 107px;
  left: 130px;
  height: 92px;
  width: 73px;
}

#source{
  position: absolute;
  top: 316px;
  left: 94px;
  height: 184px;
  width: 146px;
}

#result{
  position: absolute;
  top: 79px;
  left: 300px;
  height: 540px;
  width: 382px;
  xbackground-color:white;
}

#newpdf{
  position: absolute;
  top: 643px;
  left: 300px;
  height: 25px;
  width: 195px;
  display:none;
}
#newpdf a:visited,
#newpdf a{
  color:white;
}

#btn_save{
  xborder: 1px dotted green;
  border:0;
  position: absolute;
  background-image: url(../images/save.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 640px;
  left: 587px;
  height: 25px;
  width: 95px;
  display:none;
}

#btn_save:hover{
  background-image: url(../images/save_act.png);
  text-decoration:none;
}


#result img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.dropzone {
  border-radius: 0px;
  color: white;
  font: bold 24px/200px arial;
  margin: 30px auto;
  text-align: center;
}

.dropzone div {
  line-height: 0;
}

.dropzone.hover,
.dropzone:hover {
  background-color:#dfe2e7;
  opacity: 0.3;
}

.dropzone.dropped {
  background: #fff;
}

.dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropzone img {
  border-radius: 0px;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#hideresulttips{
  position:absolute;
  top:50px;
  left:282px;
  width:410px;
  height:600px;
  background-color:#333333;
  display:none;
}

#spinner{
  position:absolute;
  top:340px;
  left:480px;
  display:none;
}
